<!-- TODO: content projection of branch name -->
<ng-content select="h3"></ng-content>
<div class="table-responsive">
    <table class="table">
      <thead class="left">
        <tr>
          <th>Week</th>
          <th class="th-lg"  colspan="2">Regular</th>
          <th class="th-lg"  colspan="2">Diesel</th>
          <th class="th-lg"  colspan="2">Primuim</th>
        </tr>
      </thead>

      <tbody class="left">
        <!-- TODO: content projection of each row -->
        <ng-content select="tr"></ng-content>
      </tbody>
    </table>
  </div>

