body {
    background-color: #eee
}

.card {
    border-radius: 10px;
    background-color: #fff;
    width: 450px
}

.heading {
    font-size: 22px;
    font-weight: 500;
    color: #006064
}

.progress {
    height: 10px
}

.percent {
    font-size: 13px
}

.cancel {
    font-size: 13px;
    color: #6200EA
}

.border {
    background: #E0F2F1;
    border-width: 12px;
    border-radius: 8px
}

.text1 {
    font-size: 14px;
    color: #6200EA
}

.text2 {
    font-size: 12px
}

.register {
    font-size: 13px;
    color: #6200EA
}