<!-- TODO: data of each colunms -->

<td>{{weekrow.name}} <ng-content></ng-content></td>

<td>{{weekrow.regular.used}} / {{weekrow.regular.available}}</td>
<td>{{(weekrow.regular.used / weekrow.regular.available) | percent:'2.2-2'}}</td>

<td>{{weekrow.diesel.used}} / {{weekrow.diesel.available}}</td>
<td>{{(weekrow.diesel.used / weekrow.diesel.available) | percent:'2.2-2'}}</td>

<td>{{weekrow.premium.used}} / {{weekrow.premium.available}}</td>
<td>{{(weekrow.premium.used / weekrow.premium.available) | percent:'2.2-2'}}</td>

