
<div class="container">
    
    <!-- TODO: image logo -->
    <div class="row">
        <div class="col-lg-12">
            <img [src]='logo'/>
        </div>
    </div>


    <!-- TODO : Annual Month block -->
    <div class="row first-card">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-header"><h3>{{cardTitle}}</h3></div>
                <div class="card-body">
                    <!-- TODO: call nested component of total component -->
                    <app-total [status]='status' [regularPercentage]='regularPercentage' [dieselPercentage]='dieselPercentage' [primumPercentage]='primumPercentage'></app-total>
                </div>
            </div>
        </div>
    </div>


    <!-- TODO: Data From each Branch block -->
    <div class="row first-card">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-header"><h3>{{branchTitle}}</h3></div>
                <div class="card-body">
                    
                   <!-- TODO: data from branch A -->
                    <span app-branch>
                      <h3 class="left card-header">Branch A</h3>
                      <tr app-week-row  [weekrow]="getWeekRow()" *ngFor="let weekrow of [1,2,3,4]; let index = index" >{{index+1}}</tr>
                    </span>

                    <!-- TODO: data from branch B -->
                    <span app-branch>
                        <h3 class="left card-header">Branch B</h3>
                        <tr app-week-row [weekrow]="getWeekRow()" *ngFor="let weekrow of [1,2,3,4]; let index = index">{{index+1}}</tr>
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>
