<div class="container">
    <div class="row">
        
      <!-- TODO: card of Regular Annual Month Overall -->
        <div class="col-lg-4">
            <div class="card total">
                <div class="card-header" [ngStyle]="{'background-color': regPercent>70? '#dc3545' : '#28a745'}">
                  <h5>Regular</h5>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{status[0].used}}/{{status[0].available}} ({{(status[0].used / status[0].available) | percent:'2.2-2'}} ) </h4>
                  <p class="card-text">Utilization of Regular</p>
                  <p><ngb-progressbar [type]="regPercent>70? 'danger' : 'success'"  [value]="regPercent"></ngb-progressbar></p>
                </div>
            </div>
        </div>


        <!-- TODO: card of Diesel Annual Month Overall -->
        <div class="col-lg-4">
          <div class="card total">
              <div class="card-header" [ngStyle]="{'background-color': diePercent>70? '#dc3545' : '#28a745'}">
                <h5>Diesel</h5>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{status[1].used}}/{{status[1].available}} ({{(status[1].used / status[1].available) | percent:'2.2-2'}} )</h4>
                <p class="card-text">Utilization of Regular</p>
                <p><ngb-progressbar [type]="diePercent>70? 'danger' : 'success'"  [value]="diePercent"></ngb-progressbar></p>
              </div>
          </div>
      </div>

      <!-- TODO: card of Premuim Annual Month Overall -->
      <div class="col-lg-4">
        <div class="card total">
            <div class="card-header" [ngStyle]="{'background-color': priPercent>70? '#dc3545' : '#28a745'}">
              <h5>Premuim</h5>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{status[2].used}}/{{status[2].available}} ({{(status[2].used / status[2].available) | percent:'2.2-2'}} ) </h4>
              <p class="card-text">Utilization of Regular</p>
              <p><ngb-progressbar [type]="priPercent>70? 'danger' : 'success'"  [value]="priPercent"></ngb-progressbar></p>
            </div>
        </div>
    </div>

    </div>
</div>